*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Poppins", sans-serif;
}
header{
    padding: 90px 120px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav li{
    list-style: none;
    align-items: center;
}
/* influencer-container */
.influencer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.influencer{
}
.influ-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin: 10px 0px;
}
.influ-pera{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.prebook{ 
    color: #FFFFFF;
    padding: 10px 24px;
    gap: 8px;
    border: 0px solid;
    border-radius: 41px;
    background: #E02C6D;
}
.arrow{
    margin-left: 10px;
}
.influ-camera{
    position: relative;
}
.camera{
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 30px;
}
/* sponsor-container   */
main{
    padding: 50px 120px;
}
.sponsor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

/* Popular Collection  */

.popular-collection {
    padding: 100px 30px;
}
.popular-collection h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 30px;
}

.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 30px;
}
.card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 16px;
}
.card-img{
    width: 100%;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    margin: 10px 0px;
}
.price{
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    margin: 15px 0px;
}
.rating{ 
    color: Gray ;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: 0.1px;
    margin: 5px 0px;
}
.description{
    color: Gray ;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    margin: 10px 0px;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.see{
    color: rgba(224, 44, 109, 0.87);
    font-size: 1.2rem;
    font-weight: 700;
    background: #FFF;
    border: 0px solid;
}

/* .featured-container  */

.featured-container{
    display: flex;
    justify-content: space-between;
}
.featured-title{
    font-size: 2.37rem;
    font-weight: 600;
    line-height: 50px;
    margin: 10px 0px;
}
.featured-pera{
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: 10px;
    width: 501px;
}
.join{
    color: #FFFFFF;
    padding: 10px 24px;
    background: #E02C6D;
    border: 0px solid;
    margin-top: 20px;
}
/* footer  */
footer{
    background: #0A0826;
    margin-top: 100px;
}
.footer-contain{
    text-align: center;
    padding: 50px ;
}
.footer-title{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0px;
}
.footer-copy{
    color: #FFF;
    font-size: .85rem;
    font-weight: 400;
    line-height: 24px;
    margin: 5px 0px;
}
.link{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 17px 0px;
    size: 10px;
}
.link a{
    text-decoration: none;
    background-color: #343434;
    padding: 6px;
    border-radius: 30px;

}


 




/* responsive devise styles  */
@media screen and (max-width:576px) {
    /* header */
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        padding: 0px;
        gap: 10px;
    }
    /* .influencer-container */
    .influencer-container{
        flex-direction: column-reverse;
    }
    .influencer{
    text-align: center; 
    }
    .camera{
        width: 88%;
    }
    .back-img{
        width: 100%;
    }
    /* main  */
    main{
        padding: 0px 20px;
    }
    /* sponsor-container  */
    .sponsor{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        align-items: center;
        gap: 18px;
        padding-top: 40px;
    }
    .sponsor img{
        width: 20%;
    }
    /* popular-collection  */
    .popular-collection{
        padding: 20px 0px;
    }
    .collection{
        grid-template-columns: 1fr;
    }
    /* .featured-container  */
    .featured-container{
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
    }
    .featured-pera{
        width: 100%;
    }
    footer{
        margin-top: 50px;
    }
    .footer-title{
        font-size: 1rem;
        margin: 5px 0px;
    }
    
}





/* medium devise  */
@media screen and (min-width:576px) and (max-width:1024px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        padding: 0px;
        gap: 20px;
    }
    /* .influencer-container */
    .influencer-container{
        flex-direction: column-reverse;
    }
    .influencer{
    text-align: center; 
    }
    .camera{
        width: 90%;
    }
    .back-img{
        width: 100%;
    }
    /* main  */
    main{
        padding: 0px 50px;
    }
    /* sponsor-container  */
    .sponsor{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        align-items: center;
        gap: 18px;
        padding-top: 40px;
    }
    .sponsor img{
        width: 20%;
    }
    /* popular-collection  */
    .popular-collection{
        padding: 20px 0px;
    }
    .collection{
        grid-template-columns: repeat(2,1fr);
    }
     /* .featured-container */
     .featured-container{
        margin-top: 70px;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
    }
    .featured-pera{
        width: 100%;
    }
    
}
